<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8"> 
	<title>CAD云模型</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/js/yuncad.js"></script>
  
  	
  <style>
    html {
        background-color: slategray;
    }
    #div1, #div2, #div3{
    display: inline-block;
}
  </style>

 

</head>
<body>
    <div style="background-color: darkgray;"> 
    <div class="container"  >
        <div class="row clearfix">
            <div class="col-md-12 column">
                <nav class="navbar navbar-default navbar-inverse" role="navigation">
                    <div class="navbar-header">
                         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">CAD云模型</a>
                    </div>
                    
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle " data-toggle="dropdown">模型<strong class="caret"></strong></a>
                               <ul class="dropdown-menu">
                                   <li>
                                        <a href="#">非标设备</a>
                                   </li>
                                   <li>
                                        <a href="#">标准设备</a>
                                   </li>
                                   <li>
                                        <a href="#">焊接设备</a>
                                   </li>
                                   <li class="divider">
                                   </li>
                                   <li>
                                        <a href="#">Separated link</a>
                                   </li>
                                   <li class="divider">
                                   </li>
                                   <li>
                                        <a href="#">One more separated link</a>
                                   </li>
                               </ul>
                           </li>
                            <li >
                                 <a href="#">联系</a>
                            </li>
                            <li>
                                 <a href="#">关注</a>
                            </li>
                            
                        </ul>
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="research" />
                            </div> <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                        <ul class="nav navbar-nav navbar-right">
                           
                                </ul>
                            </li>
                        </ul>
                    </div>
                    
                </nav>
                <div class="jumbotron" style="background-color: blanchedalmond;">
                    <h1>
                        Hello, world!
                    </h1>
                    <p>
                        This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
                    </p>
                    <p>
                         <a class="btn btn-primary btn-large" href="#">Learn more</a>
                    </p>
                </div>
                <div class="col-md-12 column" style="background-color:darkgray">
                    <div class="row" id="id1">
                        
                    </div>
                </div>
                



                <div class="row clearfix" >
                    <div class="col-md-12 column">
                    </div>
                </div>
            </div>
        </div>
       
    </div>

    <div class="row clearfix" style="background-color: black;">
		<div class="col-md-4 column">
		</div>
		<div class="col-md-4 column">
			<div class="row clearfix">
				<div class="col-md-6 column">
					 <address> <strong>Twitter, Inc.</strong><br /> 795 Folsom Ave, Suite 600<br /> San Francisco, CA 94107<br /> <abbr title="Phone">P:</abbr> (123) 456-7890</address>
				</div>
				<div class="col-md-6 column">
					<img alt="140x140" src="../static/img/erweima.jpg" height="80px" style="margin-top: 10px;"/>
				</div>
			</div>
		</div>
		<div class="col-md-4 column">
		</div>
	</div>
</div>
</div>
</div>
<script>
    
    for(var i=0;i<=10;i++)
    {
        Create_dateil();
    }

    



    

</script>
    
</body>



</html>